<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Members</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <td>ID</td>
    <td>First name</td>
    <td>Last name</td>
    <td>Phone</td>
    <td>Email</td>
    <td>DOB</td>
    <td>Address</td>
    <td>Balance</td>

  </tr>
  </thead>

  <tr th:each="dbValue : ${members}">

    <td th:text="${dbValue.id}"/>
    <td th:text="${dbValue.name_first}"/>
    <td th:text="${dbValue.name_last}"/>
    <td th:text="${dbValue.phone}"/>
    <td th:text="${dbValue.email}"/>
    <td th:text="${dbValue.dob}"/>
    <td th:text="${dbValue.address}"/>
    <td th:text="${dbValue.balance}"/>

  </tr>

</table>

</body>
</html>